extends layout

block header
  - active = 'home'

block content
  div.message
    p hi! #[br]#[br]
      | unfortunately, there's nothing much to see here #[br]#[br]
      | fortunately, one could visit the #[a(href='/vitamin-puzzle/#BBBB') vitamin puzzle] section #[br]
      | and play with the puzzle for a while #[br]#[br]
      | do not forget to take a brief look at my source-code :) #[br]#[br]
      | have fun!
