doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/css/style.css', type='text/css')
    script(src='/dist/paper-full.min.js')
  body
    header
      h1
        a(href='/') little#[strong vi+amin]

      block header

      mixin item(title, url)
        li(class='nav-item nav-item--' + title + (active == title ? ' nav-item--active' : ''))
          a(href=url).nav-link= title
          if title == 'extra'
            ul.subnav
              li.subnav-item
                a(href='#').subnav-link.toggle-swap history
              li.subnav-item
                a(href='#').subnav-link.randomize.randomize-puzzle randomize

      nav.nav
        ul.nav-menu
          +item('home', '/')
          +item('puzzle', '/vitamin-puzzle/#BBBB')
          if (active == 'puzzle')
            +item('extra', '/#')

    main
      block content

    footer
      span Alesandar Metodiev © 2018
