extends layout

block header
  - active = 'puzzle'

block content
  canvas#puzzle(resize)

  div#history
    h5 history hashes:

  script.
    var navExtra = document.querySelector('.nav-item--extra')
    var navToggleSwap = document.querySelector('.toggle-swap')
    var historyContainer = document.querySelector('#history')
    var buttonRandomize = document.querySelector('.randomize-puzzle')

    navExtra.onclick = function(e){
      e.preventDefault()
      navExtra.classList.toggle('nav-item--active')
    }

    navToggleSwap.onclick = function(e){
      e.preventDefault()
      navToggleSwap.classList.toggle('toggle-swap--active')
      historyContainer.classList.toggle('history--active')
    }

    buttonRandomize.onclick = function(e){
      e.preventDefault()
      var currentHash = window.location.hash.substring(1)
      var vitaminLineLength = randomIntBetween(2, 4)
      var validVitamins = ['B', 'W', 'G'];
      var vitamins = '#';

      // get random vitamin from our predefined array of valid vitamins
      for (var i = 0; i < vitaminLineLength; i++){
        vitamins += validVitamins[(randomIntBetween(1, validVitamins.length) - 1)]
      }

      // and finally update our window hash
      // note: there's alread a window listener that will reload the result
      window.location.hash = vitamins
    }

    // custom function that return a random integer between two values
    function randomIntBetween(min, max){
      return Math.floor(Math.random() * max) + min
    }

  script(type='text/javascript' canvas='puzzle' src='/js/script.js')
