body
  box-sizing: border-box
  display: flex
  flex-direction: column
  min-height: 100vh
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

*, *::before, *::after
  margin: 0
  border: 0
  padding: 0
  box-sizing: inherit

h1
  font-weight: normal

a
  text-decoration: none
  color: #000

ul
  list-style: none

header, main, footer
  display: flex
  position: relative


header, footer
  padding: 20px 80px
  box-shadow: 0 0 0 6px rgba(0, 0, 0, .05)
  z-index: 0

header
  background: #f2f3f4
  justify-content: space-between
  align-items: flex-end
  min-height: 128px
  border-bottom: 2px solid #fff
  z-index: 2
  h1
    font-size: 24px
  .nav
    .nav-menu
      list-style: none
    .nav-menu, .nav-item, .nav-link, .nav-link
      display: flex
    .nav-item
      position: relative
      &--extra
        color: #aaa
      &--active
        .nav-link
          color: #000
          border-bottom: 1px solid rgba(0, 0, 0, 1)
        .subnav
          display: block;

      &:hover
        .nav-link
          color: #111
          border-bottom: 1px solid rgba(0, 0, 0, .3)
    .nav-link
      font-weight: bold
      // text-transform: uppercase
      font-size: 16px
      padding: 12px 24px
      border-bottom: 1px solid rgba(0, 0, 0, .1)
      color: #444

    .subnav
      background: #f2f3f4
      display: none
      position: absolute
      top: 100%
      left: 0
      right: 0
      .subnav-item
        display: flex
        border-width: 0 1px 1px
        border-style: solid
        border-color: rgba(0, 0, 0, .2)
      .subnav-link
        padding: 12px 24px
      .toggle-swap
        color: normal
        &--active
          color: #000
          background: #eaeafeb;
    .nav-link, .subnav-link
      min-width: 128px
      justify-content: center
      display: flex


main
  flex: 1
  padding: 20px 80px
  background: url('/img/doodles.png')
  overflow: hidden
  .message
    display: flex
    flex: 1
    justify-content: center
    align-items: flex-start
    padding: 20px 80px
    p
      background: #fff
      box-shadow: 0 0 0 96px rgba(255, 255, 255, .25)
      padding: 40px
    a
      font-weight: bold
      text-decoration: underline

footer
  justify-content: center
  font-size: 10px

#puzzle
  flex: 1
  position: relative
  z-index: 0

#history
  box-shadow: 0 0 0 6px rgba(0, 0, 0, .05)
  border-left: 2px solid #fff
  background: #f2f3f4
  position: absolute
  right: -256px;
  top: 12px
  bottom: 12px
  padding: 40px 0
  width: 256px 
  margin: 0 auto
  text-align: center
  z-index: 1
  transition: right 200ms ease
  &&.history--active
    right: 0;
    transition: right 200ms ease
    // display: block

  h5
    font-size: 16px
    margin-bottom: 16px 
    font-weight: normal

